.Nav {
    background: black;
    position: sticky;
    top: 0;
    z-index: 1;
    color: white;
}

.Nav--Container {
    display: flex;
    align-items: center;
    height: 6rem;
}

.Nav .Logo {
    margin-right: 3rem;
}
